# Byte-compiled / cache
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.sqlite3

# Environments
env/
venv/
ENV/

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store

# Environment variables
.env

# Static and media (if you collect static separately)
staticfiles/
media/
